@import 'react-responsive-carousel/lib/styles/carousel.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add CSS for opacity on hover for project images */
img:hover {
  opacity: 0.75;
}

/* Add margin between the project image and the view details button */
.carousel .slide img {
  margin-bottom: 1rem;
}

/* Add margin between the view details button and the dots representing images */
.carousel .control-dots {
  margin-top: 1rem;
}

/* Ensure the header and footer have consistent padding and margin */
header, footer {
  padding: 1rem;
  margin: 0 auto;
}
